.stat {
    @apply text-xl flex items-center;
}

.statRight {
    @apply justify-end;
}

.batteryFull {
    @apply text-green-600 dark:text-teal-600;
}

.batteryMedium {
    @apply text-blue-500;
}

.batteryLow {
    @apply text-amber-600;
}

.batteryEmpty {
    @apply text-red-600;
}

.battery {
    @apply whitespace-nowrap rounded-md text-white text-xs py-2 px-1;
}

.grid > div {
    @apply w-full flex mb-2 mt-2;
}

.grid > div > div {
    @apply w-1/2;
}

@keyframes leftToRight {
    0% {
        left: 0;
    }
    25% {
        left: 25%;
    }
    50% {
        left: 50%;
    }
    775% {
        left: 75%;
    }
    100% {
        left: 100%;
    }
}

.animateLeftToRight {
    animation: leftToRight 2s linear infinite;
}

.animateRightToLeft {
    animation: leftToRight 2s linear infinite reverse;
}
